
@{
    ViewBag.Title = "Borrowing";
}
<script src="~/Scripts/Views/borrowing.js"></script>

<h2>Выдача книги</h2>


<div id="BookSelectionForm">
    <table>
        <thead>
            <tr>
                <th colspan="3">Поиск</th>
            </tr>
            <tr>
                <th hidden="hidden"></th>
                <th width="150px">Название</th>
                <th width="150px">Автор</th>
                <th width="350px">Описание</th>
            </tr>
            <tr>
                <form id="BookFilterForm" data-url="@Url.Action("GetFilteredList", "Book")">
                <th hidden="hidden"></th>
                <th><input type="text" id="TitleBookFilter" class="BookFilter" name="TitleFilter" /></th>
                <th><input type="text" id="AuthorBookFilter" class="BookFilter" name="AuthorFilter" /></th>
                <th></th>
                </form>
            </tr>
        </thead>
        <tbody id="FilteredBooksTable">
        </tbody>
    </table>
</div>

<div id="BookConfirmation" hidden="hidden" data-url="@Url.Action("GetAvailableCountPropertyId", "Book")">
    <table>
        <thead>
            <tr>
                <th hidden="hidden"></th>
                <th>Название</th>
                <th>Автор</th>
                <th>Кол-во в наличии</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="bookConfirmId" hidden="hidden"></td>
                <td id="bookConfirmTitle"></td>
                <td id="bookConfirmAuthor"></td>
                <td id="bookConfirmQuantity"></td>
            </tr>
        </tbody>
    </table>
</div>


<div id="ClientSelectionForm" hidden="hidden" data-url="@Url.Action("GetFilteredList", "Client")">
    <table>
        <thead>
            <tr>
                <th colspan="3">Поиск клиента</th>
            </tr>
            <tr>
                <th hidden="hidden"></th>
                <th width="150px">Фамилия</th>
                <th width="150px">Имя</th>
                <th width="150px">Номер телефона</th>
            </tr>
            <tr>
                <form id="ClientFilterForm">
                <th hidden="hidden"></th>
                <th><input type="text" class="ClientFilter" id="NameClientFilter" name="nameFilter" /></th>
                <th><input type="text" class="ClientFilter" id="SurnameClientFilter" name="surnameFilter" /></th>
                <th><input type="text" class="ClientFilter" id="PhoneClientFilter" name="phoneFilter" /></th>
                </form>
            </tr>
        </thead>
        <tbody id="FilteredClientTable">
        </tbody>
    </table>
</div>


<div id="BorowingConfirmation" hidden="hidden">
    <form action="@Url.Action("BorrowBook", "Operation")">
        <table>
            <thead>
                <tr>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Номер телефона</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="hidden" id="clientId" name="clientId" />
                        <input type="hidden" id="bookId" name="bookId" />
                        <div id="clientName"></div>
                    </td>
                    <td>
                        <div id="clientSurname"></div>
                    </td>
                    <td>
                        <div id="clientPhone"></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3"><button type="submit" id="submit">Подтвердить</button></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>