
@{
    ViewBag.Title = "IndexView";
}

<h2>Панель управления библиотекой</h2>
<p>
    <a href="@Url.Action("Index", "Client")">Управление клиентами</a>
</p>
<p>
    <a href="@Url.Action("Registration", "Book")">Панель добавления книг</a>
</p>
<p>
    <a href="@Url.Action("SearchForEdit", "Book")">Редактирование книг</a>
</p>
<p>
    <a href="@Url.Action("Index", "Operation")">Взаимодействие с клиентами</a>
</p>

